.logo{
    height: 100px;
    background-color: rgba(37, 37, 37, 0.343);
   
}
.navigation{
    height: 50px;
    background-color: rgba(37, 37, 37, 0.343);
    margin-top: 5px;
    
   
}

h2{
   text-align: center;
   padding:9px;
}
.header{
    height: 150px;
 
    background-color: rgba(37, 37, 37, 0.343);
   
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
   
}
h3{
    text-align: center;
    padding-top: 60px;

}
.wrapper{
    overflow:hidden;
}
.side{
    height: 500px;
    width:30%;
    background-color: rgba(37, 37, 37, 0.343);
    margin-top: 10px;
    float: left;
    text-align:center;
    font-size: 20px;
    font-weight: bold;
  
   
}
.area{
    height: 500px;
    width:69%;
    background-color: rgba(37, 37, 37, 0.343);
    margin-top: 10px;
    float: right;
    text-align:center;
    font-size: 20px;
    font-weight: bold;
}

    .footer{
        height:100px;
        background-color: rgba(37, 37, 37, 0.343);
    margin-top: 5px;
    text-align:center;
    font-size: 20px;
    font-weight: bold;
    }

 
   
